.projects-body {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #ff060600;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #dddddd00; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1500ff00;
        border-radius: 10px;
    }

  }
@media screen and (max-width:950px){
    .projects-body{
        max-width: 70vw;
        height: 75vh;
        width: 70vw;
    }
}
@media screen and (max-width:450px){
    .projects-h1{
        font-size: 1rem;
    }
    .projects-p{
        font-size: 0.8rem;
    }
}
.projects-div{
    align-items: start;
    padding: 10px;
    margin: 10px;

}

.projects-h1{
    color: #ffffff;
    font-family: SF Pro;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 1.5rem */
    letter-spacing: -0.0525rem;
}
.projects-p{
    color: #ffffff;
    font-family: SF Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 540;
    line-height: 100%; /* 1.5rem */
    letter-spacing: -0.0525rem;
}
.projects-button{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    font-family: SF Pro;
    padding: 5px;
    transition: transform 0.3s;
}
.projects-button:hover{
    transform: scale(1.1); 
}
.projects-a{
    color: #000000;
    font-family: SF Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 540;
    line-height: 100%;
    letter-spacing: -0.0525rem;
    text-decoration: none;

    /* border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    transition: transform 0.3s;  */
}

.projects-a:hover {
    transform: scale(1.2); 
}

