.projects-body {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #ff060600;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #dddddd00; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1500ff00;
        border-radius: 10px;
    }

  }
@media screen and (max-width:950px){
    .projects-body{
        max-width: 70vw;
        height: 75vh;
        width: 70vw;
    }
}
@media screen and (max-width:450px){
    .projects-h1{
        font-size: 1rem;
    }
    .projects-p{
        font-size: 0.8rem;
    }
}
.projects-div{
    align-items: start;
    padding: 12px;
    margin: 12px;

}

.projects-h1{
    color: #ffffff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    letter-spacing: -0.0525rem;
}
.projects-p{
    color: #ffffff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 540;
    line-height: 100%;
    letter-spacing: -0.0525rem;
}
.projects-button{
    background-color: rgb(255, 255, 255);
    border-radius: 64px 64px 64px 64px;
    margin-left: 5px;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: transform 0.3s;
}
.projects-button:hover{
    transform: scale(1.1); 
}
.projects-a{
    color: #000000;
    font-family: SF Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 540;
    line-height: 100%;
    letter-spacing: -0.0525rem;
    text-decoration: none;
}

.projects-a:hover {
    transform: scale(1.2); 
}

